<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
  <a class="navbar-brand" href="#">Personal</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/Home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/project">Project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/experience">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact Me</a>
    </li>
  </ul>
  <a href="../../assets/Oussema-Taboubi.pdf" download="Oussema-Taboubi.pdf">
    <button class="btn btn-outline-success">Download CV</button></a
  >
</nav>
